.select_semester{
  background-color: white;
  border-color:#3c8dbc;
}

.btn-custom{
    margin-top: 10px;
    color: #ffffff;
    background-color: #dd4b39;
    box-shadow: none;
}

.btn-custom-without-m{
    color: #ffffff;
    background-color: #dd4b39;
    box-shadow: none;
}

.btn-custom-2{
  color: #ffffff;
  background-color: #3c8dbc;
  box-shadow: none;
}
