<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @faculty.code %>
</p>

<%= link_to 'Editar facultad', edit_faculty_path(@faculty) %> |
<%= link_to 'Atras', faculties_path %>
