<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Muestreo de instrumentos</h1>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <!-- card-header -->
          <div class="card-header">
            <h3 class="card-title">Seleccione el item al que desea acceder</h3>
          </div>
          <!-- /.card-header -->
          <!-- card-body -->
          <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="card text-center">
                    <div class="card-body card-body-custom">
                      <i class="fas fa-info-circle card_text_white"></i>
                      <h6 class="card_text_white">Formula de muestreo</h6>
                    </div>
                    <div class="card-footer text-muted card-footer-custom">
                      <a href="#" class="card_text_white">Acceder</a>
                      <i class="fas fa-arrow-circle-right card_text_white"></i>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="card text-center">
                    <div class="card-body card-body-custom">
                      <i class="fas fa-info-circle card_text_white"></i>
                      <h6 class="card_text_white">Estudiantes</h6>
                    </div>
                    <div class="card-footer text-muted card-footer-custom">
                      <%= link_to(self_evaluations_sampling_instruments_students_path, class: "card_text_white") do %>
                        Acceder
                        <i class="fas fa-arrow-circle-right card_text_white"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="card text-center">
                    <div class="card-body card-body-custom">
                      <i class="fas fa-info-circle card_text_white"></i>
                      <h6 class="card_text_white">Docentes</h6>
                    </div>
                    <div class="card-footer text-muted card-footer-custom">
                      <a href="#" class="card_text_white">Acceder</a>
                      <i class="fas fa-arrow-circle-right card_text_white"></i>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="card text-center">
                    <div class="card-body card-body-custom">
                      <i class="fas fa-info-circle card_text_white"></i>
                      <h6 class="card_text_white">Administrativos</h6>
                    </div>
                    <div class="card-footer text-muted card-footer-custom">
                      <a href="#" class="card_text_white">Acceder</a>
                      <i class="fas fa-arrow-circle-right card_text_white"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="card text-center">
                    <div class="card-body card-body-custom">
                      <i class="fas fa-info-circle card_text_white"></i>
                      <h6 class="card_text_white">Directivos</h6>
                    </div>
                    <div class="card-footer text-muted card-footer-custom">
                      <a href="#" class="card_text_white">Acceder</a>
                      <i class="fas fa-arrow-circle-right card_text_white"></i>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="card text-center">
                    <div class="card-body card-body-custom">
                      <i class="fas fa-info-circle card_text_white"></i>
                      <h6 class="card_text_white">Fecha de instrumentos</h6>
                    </div>
                    <div class="card-footer text-muted card-footer-custom">
                      <a href="#" class="card_text_white">Acceder</a>
                      <i class="fas fa-arrow-circle-right card_text_white"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</section>
