<h1>Editar datos personales</h1>

<%= render 'form', user: @user %>

<% if current_user.has_role? :director_de_comite %>
  <%= link_to 'Ver', @user %> |
  <%= link_to 'Atras', users_path %>
<% else %>
  <%= link_to 'Volver al perfil', users_profile_path %>
<% end %>
