<% if resource.errors.any? %>
  <div class="alert alert-warning alert-dismissible text-justify" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <i class="fa fa-exclamation-triangle"></i>
    Ha(n) ocurrido <%= pluralize(resource.errors.count, "error") %>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
