<h1>Editing Academic Departament</h1>

<%= render 'form', academic_departament: @academic_departament %>

<%= link_to 'Show', @academic_departament %> |
<%= link_to 'Back', academic_departaments_path %>
