.body-login {
  background-image: url("https://divisist2.ufps.edu.co/assets/img/bg/bg2.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
